OPENAI_API_KEY=
OPENAI_ANALYSIS_MODEL_OVERRIDE=
OPENAI_IMAGE_MODEL_OVERRIDE=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
FIREBASE_STORAGE_BUCKET=

ADMIN_PASSWORD=
